.button{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 356px;
    height: 64px;
    border: none;
    border-radius: 16px;
    background-color: $bluePrimary;

    a {
        color: $whitePrimary;
    }
}