.button{
    justify-content: center;
    background-color: $whitePrimary;
    align-items: center;
    display: flex;
    height: 65;
    margin-top: 85px;
    margin-bottom: 120px;

    &__container{
    justify-content: center;
    align-items: center;
    
    width: 356px;
    height: 64px;
    border: none;
    border-radius: 16px;
    background-color: $bluePrimary;
    }

    a {
        
        color: $whitePrimary;
        font-size: 23px;
        
    }
}