// Colors

$whitePrimary: hsla(0, 0%, 100%, 1);
$bluePrimary: hsla(202, 66%, 53%, 1);
$darkGrey: hsla(0, 5%, 46%, 1);
$whiteShasdown: hsla(0, 0%, 0%, 0.08);
$redPrimary: hsla(347, 80%, 66%, 1);
$greenPrimary: hsla(146, 53%, 40%, 1);
